.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.post-detail-icon-div {
  text-align: right;
  margin-top: -5.2em;
}

.comment-icon-div {
  margin-right: 2em;
  margin-bottom: 2em;
}

.card {
  padding: 1em;
  margin: 0.5em;
  max-width: 50em;
}

.fab {
  position: fixed;
  right: 2em;
  bottom: 2em;
}

.post-detail {
  padding-left: 4em;
  padding-right: 4em;
}

.card-text {
  margin-top: -2em;
}

.post-author-div {
  margin-top: -1em;
  margin-left: 2em;
}

.post-date {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.54);
  margin-top: -1em;
}

.author {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.54);
  margin-top: -1.3em;
}

.app-bar-avatar{
  width: 100%;
  margin-top: -0.7em;
  margin-bottom: -1em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
